<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PseudoMon's Lyrics Keeper</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% absPath eleventy.env.runMode %}/styles.css">

<script>
  var SONGS = [
    {%- for song in collections.song -%}
    { 
      title: "{{ song.data.title }}",
      artist: "{{ song.data.artist | join: " & "}}",
      artists: [
        {%- for artist in song.data.artist -%}
        "{{ artist }}",
        {%- endfor -%}
      ],
      url: "{{ song.url }}"
    },
    {%- endfor %}
  ]

  console.log("{{ eleventy.env.runMode }}")
  // console.log("{{ targetSubdir }}");
  console.log("{% absPath "build" %}");
</script>

</head>
<body>
  <header>
    <nav>
      <a href="/songs">Back to List</a>
    </nav>
    <input placeholder="Search song" id="song-search">
    <template id="song-search-result">
      <div class="search-result">
      </div>
    </template>
  </header>

  <main class="songdir">
    <h1>Songs Directory</h1>

    <table class="songs">
        <thead>
          <tr>
            <th>Title</th>
            <th>By</th>
            <th>Part of</th>
          </tr>
        </thead>
        <tbody>
           {%- for song in collections.song -%}
            <tr>
              <td><a href="{{ song.url }}">{{ song.data.title }}</a></td>
              <td><a href="{{ song.url }}">
                {{ song.data.artist | join: " & "}}
              </a></td>
              <td><a href="{{ song.url }}">
                {%- for tag in song.data.tags -%}
                {% if tag == "song" %}{% continue %}{% endif %}
                <span>{{ tag }}</span>
                {%- endfor -%}
              </a></td>
            </tr>
          {{ post.data.title }}</li>
          {%- endfor -%}
        </tbody>
      </table>
  </main>

  <script src="/search.js"></script>
</body>
</html>
