---
layout: main.html
---

  <main class="songdir">
    <h1>Songs Directory</h1>

    <table class="songs">
        <thead>
          <tr>
            <th>Title</th>
            <th>By</th>
            <th>Part of</th>
          </tr>
        </thead>
        <tbody>
           {%- for song in collections.song -%}
            <tr>
              <td><a href="{% absPath eleventy.env.runMode %}{{ song.url }}">{{ song.data.title }}</a></td>
              <td><a href="{% absPath eleventy.env.runMode %}{{ song.url }}">
                {{ song.data.artist | join: " & "}}
              </a></td>
              <td><a href="{% absPath eleventy.env.runMode %}{{ song.url }}">
                {%- for tag in song.data.tags -%}
                {% if tag == "song" %}{% continue %}{% endif %}
                <span>{{ tag }}</span>
                {%- endfor -%}
              </a></td>
            </tr>
          {{ post.data.title }}</li>
          {%- endfor -%}
        </tbody>
      </table>
  </main>